@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4"><b>Support a Worthy Cause</b></h1>
    <p style="text-align: center;">Help us make a difference in the lives of those in need.</p>
    <p> Your contribution matters.</p>

    <div style="font-weight: bold;">
        <div>Siwoon Lim - A01181611</div>
        <div>Arshnoor Kaur - A01310020</div>
    </div>

</div>
