@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The admins can access all the pages. While the financers will be able to see the deails, would not be able to add new donations.</p>
