@model IEnumerable<comp4976_assignment1.Models.ContactList>


@{
    ViewData["Title"] = "Error";

}

<h1>Error</h1>

<div>
    <h4>Donation Not Found</h4>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
